<div class="card border-danger mb-3 w-75">
    <div class="card-body text-danger">
      <h5 class="card-title">Seja Bem-vindo ao Super Administrador 9000!</h5>
      <p class="card-text">O melhor app de administração!</p>
      <p class="card-text">Para começar a usar o Super Administrador 9000 clique em cadastrar entradas!</p>
      <p class="card-text">Ao adicionar uma nova entrada, clique no botão "Estacionamento"</p>
      <p class="card-text">Nesta guia "Estacionamento" você podera ver tudo o que foi cadastrado!</p>
      
    </div>
  </div>